$text-font-stack: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$white: #ffffff;
$darkgrey: #979797;
$bordergrey: #757575;
$lightgrey: #f7f7f7;
$mediumgrey: #cccccc;
$dark: #000000;
$dangerred: #d00000;


